In [1]:
import pandas as pd
from tqdm import tqdm


variot = pd.read_csv('../data/VarIoT_data/vulnerabilities.csv')
variot.head()

,VAR ID,CVE ID,Description
0,VAR-202403-0394,NaN,EG3210 is a multi-service security gateway. Th...
1,VAR-202402-2601,NaN,Beijing Xingwang Ruijie Network Technology Co....
2,VAR-202402-2400,NaN,NBR6205-E is a router product. Beijing Xingwan...
3,VAR-202402-1924,CVE-2023-32462,Dell OS10 Networking Switches running 10.5.2.x...
4,VAR-202402-1750,CVE-2023-28078,Dell OS10 Networking Switches running 10.5.2.x...

In [2]:
variot.describe()

,VAR ID,CVE ID,Description
count,39800,35486,39800
unique,38347,34023,36828
top,VAR-202109-1225,CVE-2006-2937,"WebKit, as used in Apple Safari before 6.0, al..."
freq,5,8,45

In [7]:
# Get the number of entries with CVE ID is NaN
variot['CVE ID'].isna().sum()

4314

In [8]:
variot['Description'].isna().sum()

0